<a href="https://colab.research.google.com/github/victorsoaresferreiraa/Python-/blob/main/Python_para_Data_Science_Primeiros_Passos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
print("Escola de Dados da Alura!")

Escola de Dados da Alura!

In [3]:
#Imprimir seu nome e sobrenome

print("Nome: Victor")
print("Sobrenome: Soares")

Nome: Victor
Sobrenome: Soares

In [4]:
#Imprimir o seu nome letra a letra

print("V")
print("i")
print("C")

V
i
C

In [6]:
#Imprimir o dia do seu nascimento em formato dia mes e ano

print(13, "Julho", 2000)

13 Julho 2000

In [7]:
#imprimir em unico print o atual ano que voce esta fazendo o curso
print('Ano Atual:', 2023)

Ano Atual: 2023

In [8]:
#Crie um programa que solicite a pessoa usuaria digitar seu nome
nome = input("Qual o seu nome?")
print(f'Ola,{nome}')

Qual o seu nome?Victor
Ola,Victor

In [11]:
#Crie um programa que solicite a pessoa usuaria digitar seu nome e idade
nome = input("Qual o seu nome?")
idade = input("Qual a sua idade?")
print(f'Ola, {nome}, voce tem {idade} anos')

Qual o seu nome?victor
Qual a sua idade?23
Ola, victor, voce tem 23 anos

In [13]:
#Crie um programa que solicite a pessoa digitar seu nome, idade e altura
nome = input("Qual o seu nome?")
idade = input("Qual a sua idade?")
altura = input("Qual a sua altura")
print(f'Ola,{nome}, voce tem {idade} anos e mede {altura} metros')

Qual o seu nome?victor
Qual a sua idade?23
Qual a sua altura1,80
Ola,victor, voce tem 23 anos e mede 1,80 metros

In [14]:
#Crie um programa que solicite dois valores e some
num1 = int(input("Digite um numero"))
num2 = int(input("Digite outro numero"))
soma = num1 + num2
print(f'O total é {soma}')

Digite um numero23
Digite outro numero23
O total é 46

In [15]:
#Solicita 3 numeros
num1 = int(input("Digite um numero"))
num2 = int(input("Digite outro valor"))
num3 = int(input("Digite outro numero"))
soma = num1 + num2 + num3
print(f'o total é {soma}')

Digite um numero10
Digite outro valor35
Digite outro numero95
o total é 140

In [18]:
#dois numero e subtrai
num1 = int(input("Digite um numero"))
num2 = int(input("Digite um segundo valor"))
sub = num1 - num2
print(f'a subtração é {sub}')

Digite um numero89
Digite um segundo valor23
a subtração é 66

In [19]:
#Multipli os valores
num1 = int(input("Digite um numero"))
num2 = int(input("Digite um segundo valor"))
sub = num1 * num2
print(f'a multiplicação é {sub}')

Digite um numero56
Digite um segundo valor412
a multiplicação é 23072

In [20]:
#Divisao
num1 = int(input("Digite o numerador "))
num2 = int(input("Digite o denominador "))
sub = num1 / num2
print(f'a divisao é {sub}')

Digite o numerador 50
Digite o denominador 5
a multiplicação é 10.0

In [21]:
#Potencia
num1 = int(input("Digite o numerador "))
num2 = int(input("Digite o denominador "))
sub = num1 ** num2
print(f'a potencia é {sub}')

Digite o numerador 10
Digite o denominador 23
a potencia é 100000000000000000000000

In [22]:
#Dvisisao inteira
num1 = int(input("Digite o numerador "))
num2 = int(input("Digite o denominador "))
sub = num1 // num2
print(f'a Divisao inteira é {sub}')

Digite o numerador 23
Digite o denominador 14
a potencia é 1

In [23]:
#Resto da Divisao
num1 = int(input("Digite o numerador "))
num2 = int(input("Digite o denominador "))
sub = num1 % num2
print(f'o resto da divisao é {sub}')

Digite o numerador 10
Digite o denominador 23
a Divisao inteira é 10

In [24]:
#Media
num1 = int(input("Digite um numero "))
num2 = int(input("Digite outro numero "))
num3 = int(input("Digite outro numero "))
media = (num1 + num2 + num3)/3
print(f'A media é  {sub}')

Digite um numero 10
Digite outro numero 8
Digite outro numero 9
A media é  10

In [25]:
#Media ponderada
media_ponderada = (5*1 + 12*2 + 20*3 + 15*4) / (1+2+3+4)
print(f'Média {media_ponderada}.')

Média 14.9.

In [26]:
#Editando texto
frase = 'Olá Python!'
print(frase)

Olá Python!

In [27]:
frase = input('Digite uma frase: ')
print(frase)

Digite uma frase: victor
victor

In [28]:
frase = input('Digite uma frase: ')
print(frase.upper())

Digite uma frase: victor
VICTOR

In [29]:
frase = input('Digite uma frase: ')
print(frase.lower())

Digite uma frase: victor
victor

In [30]:
frase = ' Olá Python!  '
print(frase.strip())

Olá Python!

In [33]:
frase = input('Digite uma frase: ')
print(frase.strip())

Digite uma frase: victorsoares
victorsoares

In [34]:
frase = input('Digite uma frase: ')
print(frase.strip().lower())

Digite uma frase: victor soares
victor soares

In [36]:
frase = input('Digite uma frase: ')
print(frase.lower().replace('e','f'))

Digite uma frase: victor soares ferreira
victor soarfs ffrrfira

In [37]:
frase = input('Digite uma frase: ')
print(frase.lower().replace('a',chr(64)))

Digite uma frase: victor soares ferreira
victor so@res ferreir@

In [38]:
frase = input('Digite uma frase: ')
print(frase.lower().replace('s',chr(36)))

Digite uma frase: VICTOR SOARES FERREIRA
victor $oare$ ferreira